*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dotted black;

};

# img{
  height: 200px;
 }

 body{
   font-family: 'Unlock', cursive;
 }

 header {
   text-align: center;
   background-color: #06A0C9;
   color: white;
 }

.beer img {
    height: 200px;
    float: right;
}

#individual-beer-list, #abv-beer-list, #select-all {
  width: 31%;
  font-size: 20px;
}


#beer-display {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#background {
  background-image: url("https://cdn.londonandpartners.com/asset/432f2d53454cb213701132d9b5a62898.gif");
  height: 9000px;
}



.beer {
  width: 30%;
  background-color: white;
  opacity: 0.8;
  margin: 8px;
  /* text-align: center; */
}

.beer ul, li {
  color: red;
  font-size: 12px;
}

.beer ul {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  list-style-type: none;
}

.beer li, h2, h6, p{
  text-align: center;
}


#delete-all {
   background-color: #06A0C9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
}

#delete-all:hover {
    background-color: red;
    border: none;
    color: white;
    font-size: 30px;
    margin: 4px 2px;
}

footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
  background-color: #06A0C9;
  text-align: center;
}
