*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dotted black;

};

#abv-beer-display img{
  height: 200px;
 }

.beer img {
    height: 200px;
    float: right;
}


#abv-beer-display {
  display: flex;
}

.beer {
  width: 30%;
  /* text-align: center; */
}

.beer ul, li {
  color: red;
}

.beer ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

.beer li, h2, h6{
  text-align: center;
}
